.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  font-size: 38px;
}

.image-frame {
  width: 100px;
  padding: 5px 5px 2px 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
